<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- .row -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h1 class="page-header">How Soon Can I Eat at UCLA?</h1>
    </div>
  </div>
<!-- /.row -->

<!-- .row -->
    <div class="col-lg-12 text-center">
      <h2 class="<%= @bruin_cafe %>"> Bruin Cafe </h1>
        <p>You should be able to get in and out pretty quick</p>
      <%= form_for @update do |f| %>
        <%= f.hidden_field :hall_name, :value => "BruinCafe" %>

        <%= f.label "The current load is:", class: "btn not-btn-custom btn-lg" %>
        <%= f.submit "Low", class: "btn btn-custom-low btn-lg" %>
        <%= f.submit "Moderate", class: "btn btn-custom-moderate btn-lg" %>
        <%= f.submit "Heavy", class: "btn btn-custom-heavy btn-lg" %>
      <% end %>
    </div>

    <div class="col-lg-12 text-center">
      <h2 class="<%= @bruin_plate %>"> Bruin Plate </h1>

      <%= form_for @update do |f| %>
        <%= f.hidden_field :hall_name, :value => "BruinPlate" %>

        <%= f.label "The current load is:", class: "btn not-btn-custom btn-lg" %>
        <%= f.submit "Low", class: "btn btn-custom-low btn-lg" %>
        <%= f.submit "Moderate", class: "btn btn-custom-moderate btn-lg" %>
        <%= f.submit "Heavy", class: "btn btn-custom-heavy btn-lg" %>
      <% end %>
    </div>

    <div class="col-lg-12 text-center">
      <h2 class="<%= @cafe_1919 %>"> Cafe 1919 </h1>

      <%= form_for @update do |f| %>
        <%= f.hidden_field :hall_name, :value => "Cafe1919" %>

        <%= f.label "The current load is:", class: "btn not-btn-custom btn-lg" %>
        <%= f.submit "Low", class: "btn btn-custom-low btn-lg" %>
        <%= f.submit "Moderate", class: "btn btn-custom-moderate btn-lg" %>
        <%= f.submit "Heavy", class: "btn btn-custom-heavy btn-lg" %>
      <% end %>
    </div>

  <div class="col-lg-12 text-center">
    <h2 class="<%= @covell %>"> Covell </h1>

    <%= form_for @update do |f| %>
      <%= f.hidden_field :hall_name, :value => "Covell" %>

      <%= f.label "The current load is:", class: "btn not-btn-custom btn-lg" %>
      <%= f.submit "Low", class: "btn btn-custom-low btn-lg" %>
      <%= f.submit "Moderate", class: "btn btn-custom-moderate btn-lg" %>
      <%= f.submit "Heavy", class: "btn btn-custom-heavy btn-lg" %>
    <% end %>
  </div>

  <div class="col-lg-12 text-center">
    <h2 class="<%= @de_neve %>"> De Neve </h1>

    <%= form_for @update do |f| %>
      <%= f.hidden_field :hall_name, :value => "DeNeve" %>

      <%= f.label "The current load is:", class: "btn not-btn-custom btn-lg" %>
      <%= f.submit "Low", class: "btn btn-custom-low btn-lg" %>
      <%= f.submit "Moderate", class: "btn btn-custom-moderate btn-lg" %>
      <%= f.submit "Heavy", class: "btn btn-custom-heavy btn-lg" %>
    <% end %>
  </div>

  <div class="col-lg-12 text-center">
    <h2 class="<%= @feast %>"> FEAST</h1>

    <%= form_for @update do |f| %>
      <%= f.hidden_field :hall_name, :value => "FEAST" %>

      <%= f.label "The current load is:", class: "btn not-btn-custom btn-lg" %>
      <%= f.submit "Low", class: "btn btn-custom-low btn-lg" %>
      <%= f.submit "Moderate", class: "btn btn-custom-moderate btn-lg" %>
      <%= f.submit "Heavy", class: "btn btn-custom-heavy btn-lg" %>
    <% end %>
  </div>

  <div class="col-lg-12 text-center">
    <h2 class="<%= @rendezvous %>"> Rendezvous </h1>

    <%= form_for @update do |f| %>
      <%= f.hidden_field :hall_name, :value => "Rendezvous" %>

      <%= f.label "The current load is:", class: "btn not-btn-custom btn-lg" %>
      <%= f.submit "Low", class: "btn btn-custom-low btn-lg" %>
      <%= f.submit "Moderate", class: "btn btn-custom-moderate btn-lg" %>
      <%= f.submit "Heavy", class: "btn btn-custom-heavy btn-lg" %>
    <% end %>
  </div>

</div>
